.mat-card-custom {
  padding: 10px;
  margin: 10px;
}
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 20px;
  width: 70%;

}

.features-list, .selected-features {
  width: 30%;
  padding: 10px;
  margin: 10px;
}



.selected-features-container:hover .drag-placeholder {
  background-color: #b3d9ff; /* Darker blue for hover effect */
}

.selected-features-container > *:not(.drag-placeholder):hover + .drag-placeholder {
  background-color: #e6f3ff; /* Reset to original color when hovering over features */
}

.light-blue {
  background-color: #e6f3ff;
  padding: 10px;
  border-radius: 10px;
  min-height: 300px;
  width: 400px;
}

.selected-feature {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  z-index: 10; 
}

.sub-feature-container {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #ddd;
  margin-top: 10px;
  z-index: 10; 
}

.drag-placeholder {
  padding: 10px;
  background-color: #e6f3ff;
  border: 1px dashed #ccc;
  text-align: center;

  border-radius: 10px;



}

.indented {
  margin-left: 30px;
  padding: 10px;
  margin: 10px;
  z-index: 10; 
}
