.mat-card-custom {
  padding: 10px;
  margin: 10px;
}
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 20px;
}

.features-list, .selected-features {
  width: 30%;
  padding: 10px;
  margin: 10px;
}



.light-blue {
  background-color: lightblue;
  padding: 10px;
  border-radius: 5px;
  min-height: 300px;
  width: 300px;
}

.selected-feature {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.sub-feature-container {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #ddd;
  margin-top: 10px;
}

.drag-placeholder {
  padding: 10px;
  background-color: rgb(196, 222, 231);
  border: 1px dashed #ccc;
  text-align: center;
  margin-top: 10px;
  height: 50px;

}

.drag-placeholder:hover {
  background-color: #afcee9;
  transition: background-color 0.3s ease;
}

.indented {
  margin-left: 30px;
  padding: 10px;
  margin: 10px;
}
