<div class="container">
  <!-- Left: Basic Features List -->
  <div class="features-list"
       cdkDropList 
       [cdkDropListData]="features"
      >
    <h6>Select Basic Features</h6>
    <div *ngFor="let feature of features" cdkDrag>
      <mat-card class="mat-card-custom">{{ feature.name }}</mat-card>
        <div *cdkDragPlaceholder></div>   
    </div>
  </div>

  <!-- Right: Selected Features List -->
  <div class="selected-features"
       cdkDropList 
       [cdkDropListData]="selectedFeatures"
       (cdkDropListDropped)="drop($event)">
    <h6>Selected Features</h6>
    
    <div class="light-blue feature-suite selected-features-container">
      <div *ngFor="let feature of selectedFeatures">
        <app-feature-item [feature]="feature" [dropLists]="dropLists"   (deleteFeatureEvent)="deleteFeature($event)" cdkDrag></app-feature-item>
      </div>
      <div class="drag-placeholder">Drag here</div>
    </div>
  </div>
</div>