<div>
    <mat-card class="selected-feature" (click)="activateSubList(feature)">
      {{ feature.name }}
    </mat-card>
  
    <div  class="sub-feature-container">
      <div cdkDropList 
           [cdkDropListData]="feature.subFeatures ?? []" 
           (cdkDropListDropped)="dropNested($event)">
        <div *ngFor="let subFeature of feature.subFeatures" class="indented">
          <app-feature-item [feature]="subFeature" [parentFeature]="feature" [dropLists]="dropLists"></app-feature-item>
        </div>
        <div *ngIf="feature.isActive" class="drag-placeholder">Drag here</div>
      </div>
    </div>
  </div>
  