<div
  cdkDropList
  [id]="parentFeature?.id ?? 'root' "
  [cdkDropListData]="feature.subFeatures ?? []"
  [cdkDropListConnectedTo]="connectedDropListsIds"
  (cdkDropListDropped)="dropNested($event)">

  <mat-card class="selected-feature">
    <div class="card-content">
      {{ feature.name }}
      <button mat-icon-button (click)="deleteFeature(feature)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-card>

  <div class="sub-feature-container">
    <div cdkDropList
      [id]="feature.id"
      [cdkDropListData]="feature.subFeatures ?? []"
      [cdkDropListConnectedTo]="connectedDropListsIds"
      (cdkDropListDropped)="dropNested($event)">
    
      <div *ngIf="feature.level <= maxLevel" class="drag-placeholder">Drag here</div>
      <div *ngFor="let subFeature of feature.subFeatures; let last = last; let first = first; let i = index " class="indented">
        <div [class]="last ? 'connection-line' : 'connection-line-two-sides'"
        [style.--items-between]="last ? getFeaturesBetweenFeatureAndLastSubfeature(feature, subFeature) : 1"
        
        ></div>
        {{ console.log(subFeature.name, getFeaturesBetweenFeatureAndLastSubfeature(feature, subFeature), 'last:',last) }}
        <app-feature-item 
        cdkDrag
        [feature]="subFeature" 
        [parentFeature]="feature"
        [maxLevel]="maxLevel"
        [connectedDropListsIds]="connectedDropListsIds"
        (dropEmitter)="dropNested($event)"
        ></app-feature-item>
      </div>
    </div>
  </div>
</div>
